In [45]:
# Dependencies and Setup
import pandas as pd

In [46]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [47]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [48]:
# Combine the data into a single dataset.  
school_data_complete_df= pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [49]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [50]:
#Calculate the total number of schools
total_schools_df= len(school_data_complete_df.school_name.unique())

#Calculate the total number of students
total_students_df = school_data_complete_df.student_name.count()

#Calculate the total budget
total_budget_df = school_data_complete_df["budget"].unique().sum()

# Calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()

#Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_percentage = (school_data_complete_df[school_data_complete_df['math_score'] >= 70].math_score.count())/total_students_df


#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_percentage = (school_data_complete_df[school_data_complete_df['reading_score'] >= 70].math_score.count())/total_students_df

#Calculate the percentage of students who passed math and reading (% Overall Passing)
# Overall passing rate
overall_passing_rate = (passing_math_percentage + passing_reading_percentage)/2

In [51]:
#Create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Schools":[total_schools_df],
                                 "Total Students":[total_students_df],
                                 "Total Budget":[total_budget_df],
                                 "Average Math Score":[average_math_score],
                                 "Average Reading Score":[average_reading_score],
                                 "% Passing Math":[passing_math_percentage],
                                 "% Passing Reading":[passing_reading_percentage],
                                 "% Overall Passing Rate":[overall_passing_rate]})

In [52]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

In [53]:
# 
district_summary['Total Budget'] = district_summary['Total Budget'].map("${:.2f}".format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map("{:.2f}%".format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map("{:.2f}%".format)
district_summary['% Overall Passing Rate'] = district_summary['% Overall Passing Rate'].map("{:.2f}%".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,$24649428.00,78.985371,81.87784,0.75%,0.86%,0.80%

In [54]:
# For each school
# Determine the School Type
each_school_types = school_data.set_index(["school_name"])["type"]
each_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [55]:
# Calculate the total student count.
each_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
each_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]

# Calculate the per capita spending.
each_school_capita = each_school_budget / each_school_counts

# Calculate the average test scores.
each_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
each_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
each_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
each_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
each_school_passing_math = each_school_passing_math.groupby(["school_name"]).count()["student_name"]
each_school_passing_reading = each_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
each_school_passing_math = each_school_passing_math / each_school_counts * 100
each_school_passing_reading = each_school_passing_reading / each_school_counts * 100

# Calculate the students who passed both reading and math.
each_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
    & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
each_passing_math_reading = each_passing_math_reading.groupby(["school_name"]).count()["student_name"]


# Calculate the percentage of passing math and reading scores per school.
each_overall_passing_percentage = each_passing_math_reading/each_school_counts * 100



# Create the DataFrame

school_summary_df = pd.DataFrame({"School Type": each_school_types,
                               "Total Students": each_school_counts,
                               "Total School Budget": each_school_budget,
                               "Per Student Budget": each_school_capita,
                               "Average Math Score": each_school_math,
                               "Average Reading Score": each_school_reading,
                               "% Passing Math": each_school_passing_math,
                               "% Passing Reading": each_school_passing_reading,
                               "% Overall Passing": each_overall_passing_percentage})
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [56]:
school_summary_df['Total School Budget'] = school_summary_df['Total School Budget'].map("${:.2f}".format)
school_summary_df['% Passing Math'] = school_summary_df['% Passing Math'].map("{:.2f}%".format)
school_summary_df['% Passing Reading'] = school_summary_df['% Passing Reading'].map("{:.2f}%".format)
school_summary_df['% Overall Passing'] = school_summary_df['% Overall Passing'].map("{:.2f}%".format)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,$3124928.00,628.0,77.048432,81.033963,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,$1081356.00,582.0,83.061895,83.975780,94.13%,97.04%,91.33%
Figueroa High School,District,2949,$1884411.00,639.0,76.711767,81.158020,65.99%,80.74%,53.20%
Ford High School,District,2739,$1763916.00,644.0,77.102592,80.746258,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,$917500.00,625.0,83.351499,83.816757,93.39%,97.14%,90.60%
Hernandez High School,District,4635,$3022020.00,652.0,77.289752,80.934412,66.75%,80.86%,53.53%
Holden High School,Charter,427,$248087.00,581.0,83.803279,83.814988,92.51%,96.25%,89.23%
Huang High School,District,2917,$1910635.00,655.0,76.629414,81.182722,65.68%,81.32%,53.51%
Johnson High School,District,4761,$3094650.00,650.0,77.072464,80.966394,66.06%,81.22%,53.54%
Pena High School,Charter,962,$585858.00,609.0,83.839917,84.044699,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,$2547363.00,637.0,76.842711,80.744686,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,$1056600.00,600.0,83.359455,83.725724,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,$1043130.00,638.0,83.418349,83.848930,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,$1319574.00,578.0,83.274201,83.989488,93.87%,96.54%,90.58%
Wright High School,Charter,1800,$1049400.00,583.0,83.682222,83.955000,93.33%,96.61%,90.33%

In [57]:
# Calculate top performers
top_performing_schools= school_summary_df.sort_values(["% Overall Passing"], ascending=False, inplace=False)
top_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,$1081356.00,582.0,83.061895,83.975780,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,$1043130.00,638.0,83.418349,83.848930,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,$917500.00,625.0,83.351499,83.816757,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,$1319574.00,578.0,83.274201,83.989488,93.87%,96.54%,90.58%
Pena High School,Charter,962,$585858.00,609.0,83.839917,84.044699,94.59%,95.95%,90.54%
Wright High School,Charter,1800,$1049400.00,583.0,83.682222,83.955000,93.33%,96.61%,90.33%
Shelton High School,Charter,1761,$1056600.00,600.0,83.359455,83.725724,93.87%,95.85%,89.89%
Holden High School,Charter,427,$248087.00,581.0,83.803279,83.814988,92.51%,96.25%,89.23%
Bailey High School,District,4976,$3124928.00,628.0,77.048432,81.033963,66.68%,81.93%,54.64%
Ford High School,District,2739,$1763916.00,644.0,77.102592,80.746258,68.31%,79.30%,54.29%
Johnson High School,District,4761,$3094650.00,650.0,77.072464,80.966394,66.06%,81.22%,53.54%
Hernandez High School,District,4635,$3022020.00,652.0,77.289752,80.934412,66.75%,80.86%,53.53%
Huang High School,District,2917,$1910635.00,655.0,76.629414,81.182722,65.68%,81.32%,53.51%
Figueroa High School,District,2949,$1884411.00,639.0,76.711767,81.158020,65.99%,80.74%,53.20%
Rodriguez High School,District,3999,$2547363.00,637.0,76.842711,80.744686,66.37%,80.22%,52.99%

In [58]:
#Calculate botton performers
Bottom_performing_schools= school_summary_df.sort_values(["% Overall Passing"], ascending=True, inplace=False)
Bottom_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,$2547363.00,637.0,76.842711,80.744686,66.37%,80.22%,52.99%
Figueroa High School,District,2949,$1884411.00,639.0,76.711767,81.158020,65.99%,80.74%,53.20%
Huang High School,District,2917,$1910635.00,655.0,76.629414,81.182722,65.68%,81.32%,53.51%
Hernandez High School,District,4635,$3022020.00,652.0,77.289752,80.934412,66.75%,80.86%,53.53%
Johnson High School,District,4761,$3094650.00,650.0,77.072464,80.966394,66.06%,81.22%,53.54%
Ford High School,District,2739,$1763916.00,644.0,77.102592,80.746258,68.31%,79.30%,54.29%
Bailey High School,District,4976,$3124928.00,628.0,77.048432,81.033963,66.68%,81.93%,54.64%
Holden High School,Charter,427,$248087.00,581.0,83.803279,83.814988,92.51%,96.25%,89.23%
Shelton High School,Charter,1761,$1056600.00,600.0,83.359455,83.725724,93.87%,95.85%,89.89%
Wright High School,Charter,1800,$1049400.00,583.0,83.682222,83.955000,93.33%,96.61%,90.33%
Pena High School,Charter,962,$585858.00,609.0,83.839917,84.044699,94.59%,95.95%,90.54%
Wilson High School,Charter,2283,$1319574.00,578.0,83.274201,83.989488,93.87%,96.54%,90.58%
Griffin High School,Charter,1468,$917500.00,625.0,83.351499,83.816757,93.39%,97.14%,90.60%
Thomas High School,Charter,1635,$1043130.00,638.0,83.418349,83.848930,93.27%,97.31%,90.95%
Cabrera High School,Charter,1858,$1081356.00,582.0,83.061895,83.975780,94.13%,97.04%,91.33%

In [59]:
#Math Scores by Grade
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

#check grades
# merge_df['grade'].unique()


#create table to store average math score for each grade by school
math_9th = school_data_complete_df.loc[school_data_complete_df["grade"] == '9th'].groupby('school_name')['math_score'].mean()
math_10th = school_data_complete_df.loc[school_data_complete_df["grade"] == '10th'].groupby('school_name')['math_score'].mean()
math_11th = school_data_complete_df.loc[school_data_complete_df["grade"] == '11th'].groupby('school_name')['math_score'].mean()
math_12th = school_data_complete_df.loc[school_data_complete_df["grade"] == '12th'].groupby('school_name')['math_score'].mean()

#create math averge by grade dataframe

avg_math_df = pd.DataFrame({"9th": math_9th,
                            "10th": math_10th,
                            "11th": math_11th,
                            "12th": math_12th,    
                            })

avg_math_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [60]:
#Reading Scores by Grade
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

#check grades
# merge_df['grade'].unique()


#create table to store average math score for each grade by school
math_9th = school_data_complete_df.loc[school_data_complete_df["grade"] == '9th'].groupby('school_name')['reading_score'].mean()
math_10th = school_data_complete_df.loc[school_data_complete_df["grade"] == '10th'].groupby('school_name')['reading_score'].mean()
math_11th = school_data_complete_df.loc[school_data_complete_df["grade"] == '11th'].groupby('school_name')['reading_score'].mean()
math_12th = school_data_complete_df.loc[school_data_complete_df["grade"] == '12th'].groupby('school_name')['reading_score'].mean()

#create math averge by grade dataframe

avg_reading_df = pd.DataFrame({"9th": math_9th,
                            "10th": math_10th,
                            "11th": math_11th,
                            "12th": math_12th,    
                            })

avg_reading_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [61]:
# create spending bins

bins = [0, 584, 629, 644, 675]
group_name = ["<$584", "$585-629", "$630-644", "$645-675"]

school_data_complete_df['spending_bins'] = pd.cut(school_data_complete_df['budget']/school_data_complete_df['size'], bins, labels = group_name)

#group by spending
by_spending = school_data_complete_df.groupby('spending_bins')


avg_math = by_spending['math_score'].mean()

avg_read = by_spending['reading_score'].mean()
pass_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
pass_read = school_data_complete_df[school_data_complete_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
overall = school_data_complete_df[(school_data_complete_df['reading_score'] >= 70) & (school_data_complete_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
    
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": pass_math,
    "% Passing Reading": pass_read,
    "% Overall Passing": overall
            
})
            
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing"
]]


#formating
scores_by_spend.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2f}%', 
                              '% Passing Reading':'{:.2f}%',
                              '% Overall Passing': '{:.2f}%'})

In [63]:
# Sample bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
# Create a new data frame by locating the desired columns
scores_size = school_summary_df.loc[:,['Average Math Score','Average Reading Score','% Passing Math',
                                  '% Passing Reading','% Overall Passing',]]
# Add a new columns named School Size and binning based off total students
scores_size['School Size']= pd.cut(school_summary_df['Total Students'],size_bins,labels=group_names)
# Create a group based off of the bins
scores_size = scores_size.groupby('School Size')

scores_size.head()
# I could not get to show just three bins as dropping school size was showing an error.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Bailey High School,77.048432,81.033963,66.68%,81.93%,54.64%,Large (2000-5000)
Cabrera High School,83.061895,83.975780,94.13%,97.04%,91.33%,Medium (1000-2000)
Figueroa High School,76.711767,81.158020,65.99%,80.74%,53.20%,Large (2000-5000)
Ford High School,77.102592,80.746258,68.31%,79.30%,54.29%,Large (2000-5000)
Griffin High School,83.351499,83.816757,93.39%,97.14%,90.60%,Medium (1000-2000)
Hernandez High School,77.289752,80.934412,66.75%,80.86%,53.53%,Large (2000-5000)
Holden High School,83.803279,83.814988,92.51%,96.25%,89.23%,Small (<1000)
Huang High School,76.629414,81.182722,65.68%,81.32%,53.51%,Large (2000-5000)
Pena High School,83.839917,84.044699,94.59%,95.95%,90.54%,Small (<1000)
Shelton High School,83.359455,83.725724,93.87%,95.85%,89.89%,Medium (1000-2000)
Thomas High School,83.418349,83.848930,93.27%,97.31%,90.95%,Medium (1000-2000)
Wright High School,83.682222,83.955000,93.33%,96.61%,90.33%,Medium (1000-2000)

In [64]:
# Create a new data frame with our desired columns
scores_type = school_summary_df[['School Type','Average Math Score',
                                  'Average Reading Score','% Passing Math',
                                  '% Passing Reading','% Overall Passing',]]
# Create a group based off of the school type
scores_type = scores_type.groupby('School Type')
scores_type.head()

# I could not get to where I would only see charter and district only. I kept getting errors so I just left it at this. :(

,School Type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,77.048432,81.033963,66.68%,81.93%,54.64%
Cabrera High School,Charter,83.061895,83.975780,94.13%,97.04%,91.33%
Figueroa High School,District,76.711767,81.158020,65.99%,80.74%,53.20%
Ford High School,District,77.102592,80.746258,68.31%,79.30%,54.29%
Griffin High School,Charter,83.351499,83.816757,93.39%,97.14%,90.60%
Hernandez High School,District,77.289752,80.934412,66.75%,80.86%,53.53%
Holden High School,Charter,83.803279,83.814988,92.51%,96.25%,89.23%
Huang High School,District,76.629414,81.182722,65.68%,81.32%,53.51%
Pena High School,Charter,83.839917,84.044699,94.59%,95.95%,90.54%
Shelton High School,Charter,83.359455,83.725724,93.87%,95.85%,89.89%